body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #00687a;
    overflow-x: hidden;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}
.container2 {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
    display: grid;
    place-items: center;
}
.container2 form{
    margin: auto;
    width: 70%;
    display: grid;
    place-items: center;
}

.container2 input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #ffffff1f;
    border-style: none;
    border-radius: 7px;
    border: solid 2px white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container2 input::placeholder{
    color: #f4f4f4;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
}

.container2 button {
    padding: 10px;
    width: 50%;
    margin-bottom: 10px;
    color: white;
    background-color: #00687a7b;
    border-style: none;
    border-radius: 7px;
    border: solid 2px #00687a;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.container2 button:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: #00687a;
    transition: 0.3s;
}

.flat-card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 6px;
}

/* ----------------------------------- */ 

.container h1{
    font-family: "Jockey One", sans-serif;
    color: #00687a;
    font-size: 80px;
    padding: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px #bebebe;
}

.container h2{
    font-family: "Barriecito", system-ui;
    font-size: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    letter-spacing: 10px;
    color: black;
    text-shadow: 1px 1px #bebebe;
}

.container p{
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    color: black;
}

.container a{
    display: inline-block;
    color: white;
    background-color: #00687a7a;
    margin: 40px;
    padding: 40px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    border-radius: 8px;
    border: solid 2px #00687a;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}
.container a:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgb(0, 0, 0);
    transition: 0.5s;
}

.container2 h1{
    font-family: "Jockey One", sans-serif;
    color: #00687a;
    font-size: 80px;
    padding: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px #bebebe;
}

.container2 h2{
    font-family: "Barriecito", system-ui;
    font-size: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    letter-spacing: 10px;
    color: black;
    text-shadow: 1px 1px #bebebe;
}

.container2 p{
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    color: black;
}
.container2 a{
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.container2 a:hover{
    color: cyan;
    text-decoration: underline;
}

header {
    width: 100%;
    padding: 10px 1%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00687a7a; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.logo-slot{
    display: inline-flex;
    width: 40%;
    justify-content: start;
    align-items: center;
    justify-items: start;
    align-content: center;
    padding: 0;

}
.logo-slot img {
    height: 60px;
    padding-right: 10px;
}
.logo-slot p{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
    padding: 0;
}

nav{
    width: 50%;
    margin-left: 2%;

    display: block;
    
    align-items: center;
    justify-items: end;
    align-content: center;

    justify-content: space-evenly;
}
nav a {
    margin-left: 11px;
    margin-right: 11px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: white;
    transition: 0.8s;
}

nav a:hover {
    color: whitesmoke;
    font-weight: 700;
    text-decoration: underline;
    
}

.btn-highlight {
    padding: 7px 14px;
    background: #98e5f3;
    border-radius: 3px;
    color: #00687a !important;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.btn-highlight:hover{
    background: aliceblue;
    text-decoration: none;
}

footer {
    margin-top: 60px;
    padding: 14px;
    text-align: center;
    background: #00687a;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 700;
}